CONFIG_LOCALVERSION="ebook_reader_debug"
# Can increase to 7
CONFIG_LOG_DEFAULT_LEVEL=3
# Can increase to 7
CONFIG_LOG_MAX_LEVEL=3
# CONFIG_DEBUG_UART_STM32=y
# CONFIG_DEBUG_UART=y
# CONFIG_DEBUG_DRIVER=y
# CONFIG_DEBUG_DEVRES=y
CONFIG_LOGF_FILE=y
CONFIG_LOGF_LINE=y
CONFIG_LOGF_FUNC=y
CONFIG_LOG=y
CONFIG_DEBUG=y
CONFIG_DEBUG_INFO=y
