build/
*~
*#
.cache
packagecache
libgpiod-1.6.5
Unity-2.6.1
compile_commands.json
lvgl-9.4.0
apps/ebook_reader/subprojects/display_driver
sqlite-amalgamation-3510100
openjpeg-2.5.4
cmake_poppler
old*
docs/.$ebook_reader_fsm.drawio.bkp
third_party