build/
*~
*#
.cache
display_driver/subprojects/packagecache
display_driver/subprojects/libgpiod-1.6.5
display_driver/subprojects/Unity-2.6.1
compile_commands.json
ebook_reader/subprojects/Unity-2.6.1
ebook_reader/subprojects/lvgl-9.4.0
ebook_reader/subprojects/packagecache
ebook_reader/subprojects/display_driver
ebook_reader/subprojects/sqlite-amalgamation-3510100
ebook_reader/subprojects/openjpeg-2.5.4
ebook_reader/subprojects/cmake_poppler
ebook_reader/subprojects/poppler/include/*
old*
docs/.$ebook_reader_fsm.drawio.bkp
