CONFIG_LOCALVERSION="+ebook_reader"
# Configure usb as ethernet interface
CONFIG_USB_ETH=y
CONFIG_USB_ETH_EEM=n
CONFIG_USB_ETH_RNDIS=n
CONFIG_USB_GADGET=y
CONFIG_USB_LIBCOMPOSITE=y
# Sth is wrong with otg dual role so we need to set usb as peripheral manually
CONFIG_USB_DWC2=y
CONFIG_USB_DWC2_PERIPHERAL=y
# Enable SPI for display
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_SLAVE=y
CONFIG_SPI_STM32=y
CONFIG_SPI_SPIDEV=y
# CONFIG_SPI_DEBUG=y